<!DOCTYPE html>
<html lang="en" ng-app="BookingPortal">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link rel="icon" type="image/png" href="/favicon.png" /> -->
		<title>Search for hotel - Go Trip</title>
		<!-- <meta name="description" content />
		<meta property="og:url" content="/hotel" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Search for hotel" />
		<meta property="og:description" content />
		<meta property="og:image" content />
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Search for hotel">
		<meta name="twitter:description" content>
		<meta name="twitter:image" content>
		<link rel="canonical" href="/hotel" /> -->
		<link href="themes/gotrip/css/vendors.css" rel="stylesheet">
		<link href="themes/gotrip/css/main.css" rel="stylesheet">
		<link href="libs/icofont/icofont.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="libs/daterange/daterangepicker.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="themes/gotrip/dist/frontend/css/app.css?_v=3.2.1">
		<script>
			var bookingCore = {
			    url:'https://venkatesh-kcet.github.io/BookingPortal-V/',
			    url_root:'https://venkatesh-kcet.github.io/BookingPortal-V/',
			    admin_url:'/admin',
			    booking_decimals:0,
			    thousand_separator:'.',
			    decimal_separator:',',
			    currency_position:'left',
			    currency_symbol:'$',
			    currency_rate:'1',
			    date_format:'MM/DD/YYYY',
			    map_provider:'osm',
			    map_gmap_key:'',
			    map_options:{
			        map_lat_default:'',
			        map_lng_default:'',
			        map_clustering:'on',
			        map_fit_bounds:'on',
			    },
			    routes:{
			        login:'/login',
			        register:'/register',
			        checkout:'/booking/doCheckout'
			    },
			    currentUser: 0,
			    isAdmin : 0,
			    rtl: false,
			    markAsRead:'/notify/markAsRead',
			    markAllAsRead:'/notify/markAllAsRead',
			    loadNotify : '/notify/notifications',
			    pusher_api_key : '',
			    pusher_cluster : '',
			    language: 'en',
			    module:{}
			};
            var i18n = {
			    warning:"Warning",
			    success:"Success",
			    confirm_delete:"Do you want to delete?",
			    confirm:"Confirm",
			    cancel:"Cancel",
			};
			var daterangepickerLocale = {
			    "applyLabel": "Apply",
			    "cancelLabel": "Cancel",
			    "fromLabel": "From",
			    "toLabel": "To",
			    "customRangeLabel": "Custom",
			    "weekLabel": "W",
			    "first_day_of_week": 1,
			    "daysOfWeek": [
			        "Su",
			        "Mo",
			        "Tu",
			        "We",
			        "Th",
			        "Fr",
			        "Sa"
			    ],
			    "monthNames": [
			        "January",
			        "February",
			        "March",
			        "April",
			        "May",
			        "June",
			        "July",
			        "August",
			        "September",
			        "October",
			        "November",
			        "December"
			    ],
			};
		</script>
		<link href="themes/gotrip/dist/frontend/module/hotel/css/hotel.css?_ver=3.2.1" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="libs/ion_rangeslider/css/ion.rangeSlider.min.css" />
		<link href="custom-css.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajaxlibs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajaxlibs/angularjs/1.8.2/angular-route.min.js"></script>
        <script src="app.js"></script>

	</head>
	<body class="frontend-page header-normal   ">
		<div class="bravo_wrap overflow-hidden">
			<div class="header-margin"></div>
			<header ng-controller="HeaderController" data-add-bg="bg-dark-1" class="header -fixed bg-dark-3 js-header bravo_header" data-x="header" data-x-toggle="is-menu-opened">
				<div data-anim="fade" class="header__container px-30 sm:px-20  is-in-view">
					<div class="row justify-between items-center">
						<div class="col-auto ">
							<div class="d-flex items-center gotrip-header-normal">
								<a href="/" class=" header-logo mr-20" data-x="header-logo" data-x-toggle="is-logo-dark">
                                    <img class="logo-light" ng-src="{{ logoItems.light }}" ng-alt="{{ SiteTitle }}">
                                    <img class="logo-dark" ng-src="{{ logoItems.dark }}" ng-alt="{{ SiteTitle }}">                                    
								</a>
								<div class="header-menu " data-x="mobile-menu" data-x-toggle="is-menu-active">
									<div class="mobile-overlay"></div>
									<div class="header-menu__content">
										<div class="mobile-bg js-mobile-bg"></div>
										<div class="menu js-navList">
											<ul class="menu__nav text-white -is-active">

                                                <li ng-repeat="menuItem in menuItems" ng-class="{'menu-item-has-children': menuItem.submenu, 'depth-0': true}">
                                                    <a data-barba target href="{{ menuItem.url }}"><span class="mr-10">{{ menuItem.name }}</span><i ng-if="menuItem.submenu" class="icon icon-chevron-sm-down"></i></a>
                                                    <ul ng-if="menuItem.submenu" class="subnav">
                                                        <li ng-repeat="subMenuItem in menuItem.submenu" ng-class="depth-1">
                                                            <a data-barba target href="{{ subMenuItem.url }}">{{ subMenuItem.name }}</a>
                                                        </li>
                                                    </ul>
                                                </li>
											</ul>
										</div>
										<div class="mobile-footer px-20 py-10 border-top-light js-mobile-footer">
											<li class="currency-dropdown menu-item-has-children">
                                                <select name="currency" ng-model="currency">
                                                    <option value="INR">INR</option>
                                                    <option value="EUR">EUR</option>
                                                    <option value="JPY">JPY</option>
                                                </select>
											</li>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<div class="d-flex items-center">
								<div class="header-menu menu-right">
									<div class="mobile-overlay"></div>
									<div class="header-menu__content">
										<div class="menu js-navList">
											<ul class="menu__nav text-white -is-active">
												<li class="currency-dropdown menu-item-has-children">
                                                    <select name="currency" ng-model="currency">
                                                        <option value="INR">INR</option>
                                                        <option value="EUR">EUR</option>
                                                        <option value="JPY">JPY</option>
                                                    </select>
												</li>
												<div class="d-none xl:d-flex x-gap-20 items-center pl-30 text-white" data-x="header-mobile-icons" data-x-toggle="text-white">
													<div>
														<a href="/login" class="d-flex items-center icon-user text-inherit text-22"></a>
													</div>
													<div><button class="d-flex items-center icon-menu text-inherit text-20" data-x-click="header, header-logo, header-mobile-icons, mobile-menu"></button></div>
												</div>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="d-none xl:d-flex x-gap-20 items-center pl-30 text-white" data-x="header-mobile-icons" data-x-toggle="text-white">
								<div><a href=" /login " class="d-flex items-center icon-user text-inherit text-22"></a></div>
								<div><button class="d-flex items-center icon-menu text-inherit text-20" data-x-click="header, header-logo, header-mobile-icons, mobile-menu"></button></div>
							</div>
						</div>
					</div>
					<div class="d-none xl:d-flex x-gap-20 items-center pl-30" data-x="header-mobile-icons" data-x-toggle="text-white"></div>
				</div>
			</header>
            <div class="bravo_search bravo_search_hotel" ng-controller="HotelController">
                <section class="pt-40 pb-40 bg-light-2 ">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <h1 class="text-30 fw-600">Search for hotel</h1>
                                </div>
                                <form ng-submit="HotelSearchForm()" class="gotrip_form_search bravo_form form  form-search-all-service mainSearch bg-white px-10 py-10 lg:px-20 lg:pt-5 lg:pb-20 rounded-4 mt-30" method="get">
                                    <div class="field-items">
                                        <div class="row w-100 m-0">
                                            <div class="col-lg-4 align-self-center px-30 lg:py-20 lg:px-0">
                                                <div class="searchMenu-loc js-form-dd js-liverSearch item">
                                                    <span class="clear-loc absolute bottom-0 text-12"><i class="icon-close"></i></span>
                                                    <div data-x-dd-click="searchMenu-loc">
                                                        <h4 class="text-15 fw-500 ls-2 lh-16">Location</h4>
                                                        <div class="text-15 text-light-1 ls-2 lh-16">
                                                            <input type="hidden" name="location_id" class="js-search-get-id" value="" ng-model="HotelSearchFormData.location">
                                                            <input autocomplete="off" type="text" placeholder="Where are you going?" class="js-search js-dd-focus" value />
                                                        </div>
                                                    </div>
                                                    <div class="searchMenu-loc__field shadow-2 js-popup-window" data-x-dd="searchMenu-loc" data-x-dd-toggle="-is-active">
                                                        <div class="bg-white px-30 py-30 sm:px-0 sm:py-15 rounded-4">
                                                            <div class="y-gap-5 js-results">
                                                                <div ng-repeat="locationItem in locationsList" class="-link d-block col-12 text-left rounded-4 px-20 py-15 js-search-option" data-id="{{$index}}">
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="icon-location-2 text-light-1 text-20 pt-4"></div>
                                                                        <div class="ml-10">
                                                                            <div class="text-15 lh-12 fw-500 js-search-option-target"> {{locationItem}}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 align-self-center px-30 lg:py-20 lg:px-0">
                                                <div class="searchMenu-date form-date-search-hotel position-relative item">
                                                    <div class="date-wrapper" data-x-dd-click="searchMenu-date">
                                                        <h4 class="text-15 fw-500 ls-2 lh-16">Check In - Out</h4>
                                                        <div class="text-14 text-light-1 ls-2 lh-16 check-in-out-render">
                                                            <span class="js-first-date render check-in-render">06/07/2023</span>
                                                            -
                                                            <span class="js-last-date render check-out-render">06/08/2023</span>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" class="check-in-input" value="06/07/2023" name="start" ng-model="HotelSearchFormData.checkin">
                                                    <input type="hidden" class="check-out-input" value="06/08/2023" name="end" ng-model="HotelSearchFormData.checkout">
                                                    <input type="text" class="check-in-out absolute invisible" name="date" value="2023-06-07 - 2023-06-08">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 align-self-center px-30 lg:py-20 lg:px-0">
                                                <div class="searchMenu-guests form-select-guests js-form-dd item">
                                                    <div data-x-dd-click="searchMenu-guests">
                                                        <h4 class="text-15 fw-500 ls-2 lh-16">Guests</h4>
                                                        <div class="text-15 text-light-1 ls-2 lh-16">
                                                            <div class="render">
                                                                <span class="adults">
                                                                <span class="one ">1 Adult</span>
                                                                <span class=" d-none  multi" data-html=":count Adults">1 Adults</span>
                                                                </span>
                                                                -
                                                                <span class="children">
                                                                <span class="one " data-html=":count Child">0 Child</span>
                                                                <span class="multi  d-none " data-html=":count Children">0 Children</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="searchMenu-guests__field select-guests-dropdown shadow-2" data-x-dd="searchMenu-guests" data-x-dd-toggle="-is-active">
                                                        <div class="bg-white px-30 py-30 rounded-4">
                                                            <div class="row y-gap-10 justify-between items-center">
                                                                <div class="col-auto">
                                                                    <div class="text-15 fw-500">Rooms</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <div class="d-flex items-center">
                                                                        <span class="button -outline-blue-1 text-blue-1 size-38 rounded-4 btn-minus" data-input="room"><i class="icon-minus text-12"></i></span>
                                                                        <span class="flex-center size-20 ml-15 mr-15 count-display">
                                                                        <input type="number" name="room" value="1" min="1" ng-model="HotelSearchFormData.room">
                                                                        </span>
                                                                        <span class="button -outline-blue-1 text-blue-1 size-38 rounded-4 btn-add" data-input="room"><i class="icon-plus text-12"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="border-top-light mt-24 mb-24"></div>
                                                            <div class="row y-gap-10 justify-between items-center">
                                                                <div class="col-auto">
                                                                    <div class="text-15 fw-500">Adults</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <div class="d-flex items-center">
                                                                        <span class="button -outline-blue-1 text-blue-1 size-38 rounded-4 btn-minus" data-input="adults"><i class="icon-minus text-12"></i></span>
                                                                        <span class="flex-center size-20 ml-15 mr-15 count-display">
                                                                        <input type="number" name="adults" value="1" min="1" ng-model="HotelSearchFormData.adults">
                                                                        </span>
                                                                        <span class="button -outline-blue-1 text-blue-1 size-38 rounded-4 btn-add" data-input="adults"><i class="icon-plus text-12"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="border-top-light mt-24 mb-24"></div>
                                                            <div class="row y-gap-10 justify-between items-center">
                                                                <div class="col-auto">
                                                                    <div class="text-15 fw-500">Children</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <div class="d-flex items-center">
                                                                        <span class="button -outline-blue-1 text-blue-1 size-38 rounded-4 btn-minus" data-input="children"><i class="icon-minus text-12"></i></span>
                                                                        <span class="flex-center size-20 ml-15 mr-15 count-display">
                                                                        <input type="number" name="children" value="0" min="0" ng-model="HotelSearchFormData.children">
                                                                        </span>
                                                                        <span class="button -outline-blue-1 text-blue-1 size-38 rounded-4 btn-add" data-input="children"><i class="icon-plus text-12"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-item">
                                        <button class="mainSearch__submit button  -dark-1 py-15 col-12 bg-blue-1 text-white w-100 rounded-4" type="submit">
                                        <i class="icon-search text-20 mr-10"></i>
                                        <span class="text-search">Search</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <ng-view></ng-view>

			<section class="layout-pt-md layout-pb-md mailchimp bg-dark-2 ">
				<div class="container">
					<div class="row y-gap-30 justify-between items-center">
						<div class="col-auto">
							<div class="row y-gap-20  flex-wrap items-center">
								<div class="col-auto">
									<div class="icon-newsletter text-60 sm:text-40 text-white"></div>
								</div>
								<div class="col-auto">
									<h4 class="text-26 text-white fw-600">Your Travel Journey Starts Here</h4>
									<div class="text-white">Sign up and we&#039;ll send the best deals to you</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<form action="https://gotrip.bookingcore.org/newsletter/subscribe" class="subcribe-form bravo-subscribe-form bravo-form single-field -w-410 d-flex x-gap-10 y-gap-20">
								<input type="hidden" name="_token" value="wN8rCiPpcHSl3Wz0VA4pBEnqX0gnam3Dm7pRhZVH"> 
								<div>
									<input class="bg-white h-60 email-input" type="text" name="email" placeholder="Your Email">
								</div>
								<div>
									<button class="button -md h-60 bg-blue-1 text-white">
									Subscribe <i class="fa fa-spinner fa-pulse fa-fw"></i>
									</button>
								</div>
								<div class="form-mess"></div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<div class="footer -type-1 normal">
				<div class="container">
					<div class="footer_one pt-60 pb-60">
						<div class="row y-gap-40 justify-between xl:justify-start">
							<div class="col-xl-2 col-lg-3 col-sm-6">
								<h5 class="text-16 fw-500 mb-30">Contact Us</h5>
								<div class="mt-30">
									<div class="text-14 mt-30">Toll Free Customer Care</div>
									<a href="#" class="text-18 fw-500 text-blue-1 mt-5">+(1) 123 456 7890</a>
								</div>
								<div class="mt-35">
									<div class="text-14 mt-30">Need live support?</div>
									<a href="#" class="text-18 fw-500 text-blue-1 mt-5"><span class="__cf_email__" data-cfemail="d4bcbd94b3bba0a6bda4fab7bbb9">[email&#160;protected]</span></a>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-sm-6">
								<h5 class="text-16 fw-500 mb-30">Company</h5>
								<div class="d-flex y-gap-10 flex-column">
									<a href="#">About Us</a>
									<a href="#">Careers</a>
									<a href="#">Blog</a>
									<a href="#">Press</a>
									<a href="#">Gift Cards</a>
									<a href="#">Magazine</a>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-sm-6">
								<h5 class="text-16 fw-500 mb-30">Support</h5>
								<div class="d-flex y-gap-10 flex-column">
									<a href="#">Contact</a>
									<a href="#">Legal Notice</a>
									<a href="#">Privacy Policy</a>
									<a href="#">Terms and Conditions</a>
									<a href="#">Sitemap</a>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-sm-6">
								<h5 class="text-16 fw-500 mb-30">Other Services</h5>
								<div class="d-flex y-gap-10 flex-column">
									<a href="#">Car hire</a>
									<a href="#">Activity Finder</a>
									<a href="#">Tour List</a>
									<a href="#">Flight finder</a>
									<a href="#">Cruise Ticket</a>
									<a href="#">Holiday Rental</a>
									<a href="#">Travel Agents</a>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-sm-6">
								<h5 class="text-16 fw-500 mb-30">Mobile</h5>
								<div class="d-flex items-center px-20 py-10 rounded-4 border-light">
									<div class="icon-apple text-24"></div>
									<div class="ml-20">
										<div class="text-14 text-light-1">Download on the</div>
										<div class="text-15 lh-1 fw-500">Apple Store</div>
									</div>
								</div>
								<div class="d-flex items-center px-20 py-10 rounded-4 border-light mt-20">
									<div class="icon-play-market text-24"></div>
									<div class="ml-20">
										<div class="text-14 text-light-1">Get in on</div>
										<div class="text-15 lh-1 fw-500">Google Play</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<section class="footer_middle_area py-20  border-top-light ">
						<div class="row justify-between items-center y-gap-10">
							<div class="col-auto">
								Copyright © 2023 by Go Trip
							</div>
							<div class="col-auto">
								<div class="row y-gap-10 items-center">
									<div class="col-auto">
										<div class="d-flex items-center">
											<div class="menu-footer">
												<div class="mobile-overlay"></div>
												<div class="header-menu__content">
													<div class="menu js-navList">
														<ul class="menu__nav -is-active">
															<li class="currency-dropdown menu-item-has-children">
																<a href="#" class="is_login">
																<span class="mr-10">USD</span>
																<i class="icon icon-chevron-sm-down"></i>
																</a>
																<ul class="subnav">
																	<li>
																		<a href="https://gotrip.bookingcore.org/hotel?set_currency=eur" class="is_login dropdown-item">
																		EUR
																		</a>
																	</li>
																	<li>
																		<a href="https://gotrip.bookingcore.org/hotel?set_currency=jpy" class="is_login dropdown-item">
																		JPY
																		</a>
																	</li>
																</ul>
															</li>
															<li class="language-dropdown menu-item-has-children">
																<a href="#" class="is_login">
																<span class="mr-10">
																<span class="flag-icon flag-icon-gb"></span>
																English
																</span>
																<i class="icon icon-chevron-sm-down"></i>
																</a>
																<ul class="subnav">
																	<li>
																		<a href="https://gotrip.bookingcore.org/hotel?set_lang=ja" class="is_login dropdown-item" style="justify-content: flex-start">
																		<span class="flag-icon flag-icon-jp"></span>
																		Japanese
																		</a>
																	</li>
																	<li>
																		<a href="https://gotrip.bookingcore.org/hotel?set_lang=egy" class="is_login dropdown-item" style="justify-content: flex-start">
																		<span class="flag-icon flag-icon-eg"></span>
																		Egyptian
																		</a>
																	</li>
																	<li>
																		<a href="https://gotrip.bookingcore.org/hotel?set_lang=es_MX" class="is_login dropdown-item" style="justify-content: flex-start">
																		<span class="flag-icon flag-icon-mx"></span>
																		Mexico
																		</a>
																	</li>
																	<li>
																		<a href="https://gotrip.bookingcore.org/hotel?set_lang=tr" class="is_login dropdown-item" style="justify-content: flex-start">
																		<span class="flag-icon flag-icon-tr"></span>
																		Türkçe
																		</a>
																	</li>
																	<li>
																		<a href="https://gotrip.bookingcore.org/hotel?set_lang=he" class="is_login dropdown-item" style="justify-content: flex-start">
																		<span class="flag-icon flag-icon-Israel"></span>
																		Hebrew
																		</a>
																	</li>
																</ul>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-auto">
										Go Trip
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="modal fade login gotrip-login-modal" id="login" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content relative">
						<div class="modal-header border-dashed">
							<h4 class="modal-title">Log In</h4>
							<span class="c-pointer" data-bs-dismiss="modal" aria-label="Close">
							<i class="input-icon field-icon fa">
							<img src="https://gotrip.bookingcore.org/images/ico_close.svg" alt="close">
							</i>
							</span>
						</div>
						<div class="modal-body relative">
							<form class="bravo-theme-gotrip-login-form y-gap-20" method="POST" action="https://gotrip.bookingcore.org/login">
								<input type="hidden" name="redirect" value>
								<input type="hidden" name="_token" value="wN8rCiPpcHSl3Wz0VA4pBEnqX0gnam3Dm7pRhZVH"> 
								<div class="col-12">
									<h4 class="form-title text-22 fw-500">Welcome back</h4>
									<p class="mt-10">Don&#039;t have an account yet? <a data-bs-toggle="modal" href="#register" class="text-blue-1">Sign up for free</a></p>
								</div>
								<div class="col-12">
									<div class="form-input">
										<input type="text" name="email" autocomplete="off">
										<label class="lh-1 text-14 text-light-1">Email</label>
									</div>
								</div>
								<div class="col-12">
									<div class="form-input">
										<input type="password" name="password" autocomplete="off">
										<label class="lh-1 text-14 text-light-1">Password</label>
									</div>
								</div>
								<div class="col-12 d-flex justify-content-between">
									<div class="d-flex ">
										<div class="form-checkbox" style="margin-top: 3px">
											<input type="checkbox" name="remember" id="remember-me" value="1">
											<div class="form-checkbox__mark">
												<div class="form-checkbox__icon icon-check"></div>
											</div>
										</div>
										<div class="text-15 lh-15 text-light-1 ml-10">Remember me</div>
									</div>
									<a href="https://gotrip.bookingcore.org/forgot-password">Forgot Password?</a>
								</div>
								<div class="error message-error invalid-feedback"></div>
								<div class="col-12">
									<button class="button py-20 -dark-1 bg-blue-1 text-white w-100 form-submit" type="submit">
										Sign In
										<div class="icon-arrow-top-right ml-15"></div>
										<span class="spinner-grow spinner-grow-sm icon-loading ml-15 d-none" role="status" aria-hidden="true"></span>
									</button>
								</div>
								<div class="col-12">
									<div class="text-center px-30">By creating an account, you agree to our Terms of Service and Privacy Statement.</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade login gotrip-register-modal" id="register" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content relative">
						<div class="modal-header">
							<h4 class="modal-title">Sign Up</h4>
							<span class="c-pointer" data-bs-dismiss="modal" aria-label="Close">
							<i class="input-icon field-icon fa">
							<img src="https://gotrip.bookingcore.org/images/ico_close.svg" alt="close">
							</i>
							</span>
						</div>
						<div class="modal-body">
							<form action="#" class="form bravo-form-register" method="post">
								<input type="hidden" name="_token" value="wN8rCiPpcHSl3Wz0VA4pBEnqX0gnam3Dm7pRhZVH"> 
								<div class="row y-gap-20">
									<div class="col-12">
										<h1 class="text-22 fw-500">Sign in or create an account</h1>
										<p class="mt-10">Already have an account? <a data-bs-toggle="modal" href="#login" class="text-blue-1">Log in</a></p>
									</div>
									<div class="col-12">
										<div class="form-input">
											<input type="text" name="first_name" autocomplete="off">
											<label class="lh-1 text-14 text-light-1">First Name</label>
										</div>
										<span class="invalid-feedback error error-first_name"></span>
									</div>
									<div class="col-12">
										<div class="form-input">
											<input type="text" name="last_name" autocomplete="off">
											<label class="lh-1 text-14 text-light-1">Last Name</label>
										</div>
										<span class="invalid-feedback error error-last_name"></span>
									</div>
									<div class="col-12">
										<div class="form-input">
											<input type="text" name="phone" autocomplete="off">
											<label class="lh-1 text-14 text-light-1">Phone</label>
										</div>
										<span class="invalid-feedback error error-phone"></span>
									</div>
									<div class="col-12">
										<div class="form-input">
											<input type="email" name="email" autocomplete="off">
											<label class="lh-1 text-14 text-light-1">Email address</label>
										</div>
										<span class="invalid-feedback error error-email"></span>
									</div>
									<div class="col-12">
										<div class="form-input">
											<input type="password" name="password" autocomplete="off">
											<label class="lh-1 text-14 text-light-1">Password</label>
										</div>
										<span class="invalid-feedback error error-password"></span>
									</div>
									<div class="col-12">
										<div class="d-flex">
											<div class="form-checkbox" style="margin-top: 3px">
												<input type="checkbox" name="term" id="register-term">
												<div class="form-checkbox__mark">
													<div class="form-checkbox__icon icon-check"></div>
												</div>
											</div>
											<label class="text-15 lh-15 text-light-1 ml-10" for="register-term">I have read and accept the Terms and Privacy Policy?</label>
										</div>
										<span class="invalid-feedback error error-term"></span>
									</div>
									<div class="error message-error invalid-feedback"></div>
									<div class="col-12">
										<button type="submit" class="button py-20 -dark-1 bg-blue-1 text-white w-100">
											Sign Up 
											<div class="icon-arrow-top-right ml-15"></div>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<script src="libs/lodash.min.js"></script>
			<script src="libs/jquery-3.6.3.min.js"></script>
			<script type="text/javascript" src="themes/gotriplibs/bs/js/bootstrap.bundle.min.js"></script>
			<script src="libs/bootbox/bootbox.min.js"></script>
			<script src="libs/bootstrap4.0/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="themes/gotrip/js/vendors.js"></script>
			<script type="text/javascript" src="themes/gotrip/js/main.js?_ver=3.2.1"></script>
			<script src="libs/leaflet1.4.0/leaflet.js"></script>
			<link rel="stylesheet" href="libs/leaflet1.4.0/leaflet.css">
			<script src="/module/core/js/map-engine.js?_ver=3.2.1"></script>
			<script src="libs/carousel-2/owl.carousel.min.js"></script>
			<script type="text/javascript" src="libs/daterange/moment.min.js"></script>
			<script type="text/javascript" src="libs/daterange/daterangepicker.min.js"></script>
			<script src="libs/select2/js/select2.min.js"></script>
			<script src="themes/gotrip/dist/frontend/js/gotrip.js?_ver=3.2.1"></script>
			<script type="text/javascript" src="libs/ion_rangeslider/js/ion.rangeSlider.min.js"></script>
		</div>
	</body>
</html>